<div class="container">
    <% if (typeof error != "undefined"){ %>
        <span class="text-error"><%= error %></span>
    <% } %>
    <form class="form-inline" action="/user/update" method="post">
        <input type="password" placeholder="New password" name="passwd">
        <input type="password" placeholder="New password" name="rep_passwd">
        <button type="submit" class="btn">Sign in</button>
    </form>
</div>
