<!-- Navbar
================================================== -->
<!--
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Soysource chat</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>
</div>
-->

<div class="chatroom">
  <div class="container">
      <textarea rows="1" id="message" class="input-xxlarge search-query"></textarea>

      <ul id="messages" class="nav nav-pills nav-stacked">
      </ul>

  </div>
</div>
